header {
  display: block;
    width: 100%;
    height: 15%;
    background-color:rgb(88, 139, 147);
  }

body{
  background-color: black;
}

#avatar

  h1 {
    font-family: bahnschrift;
    font-size: 30px;
    color: white;

  }

  h2 {font-family: bahnschrift;font-size: 19px; text-align: center}
  h3 {font-family: bahnschrift;font-size: 16px}
  h4 {font-family: bahnschrift;font-size: 13px}
  section p {font-family: bahnschrift;font-size:11px}
  li {font-family: bahnschrift;font-size: 11px}

  #exp, #skill, #school {
    border:5px solid white;
    background-color: white;
    border-radius: 25px;
    width: 25%;
  }
  
  #content{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-around;
}